
#container {
    width: 100%;
    max-width: 1100px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding: 2rem;
    margin: 0 auto;
    background-color: #4b0985;
}
h1{
    color: black;
    text-decoration: none;
}
.frontpage{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    position: relative;
}
.frontpage h2{
    width: 100%;
}
.moviecard {
    max-width: 300px;
    width: 100%;
    border: 1px solid white;
    padding: 1rem;
    position: relative;
    background-color: white;
  }
